{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Новости</h1>
    <h4>Количество: {{ news|length }}</h4>


    <form action="" method="get">
        {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

    <hr>
    {% if perms.news.add_news %}
    <p>Добавить</p>
    <a href="{% url 'news_create' %}">новость</a>
    {% endif %}
    {% if perms.news.add_art %}
    <a href="{% url 'articles_create' %}">статью</a>
    {% endif %}

    {% if news %}
        <table>
            {% for one_news in news %}
                <tr>
                    <td>{{ one_news.head|censor }}</td>
                    <td>{{ one_news.date_time|date:'d.M.Y' }}</td>
                    <td>{{ one_news.text|truncatechars:21|censor}}</td>
                    <td>
                        {% if one_news.post_choice == 'NW' %}
                            {% if perms.news.change_post %}
                            <a href="{% url 'news_update' one_news.id %}">Изменить</a>
                            {% endif %}
                            {% if perms.news.delete_post %}
                            <a href="{% url 'news_delete' one_news.id %}">Удалить</a>
                            {% endif %}
                        {% else %}
                            {% if perms.news.change_post %}
                            <a href="{% url 'articles_update' one_news.id %}">Изменить</a>
                            {% endif %}
                            {% if perms.news.delete_post %}
                            <a href="{% url 'articles_delete' one_news.id %}">Удалить</a>
                            {% endif %}
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
        </table>

    {% else %}
        <h2>Новостей нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}